{%extends 'mirmir_app/base.html'%}
{%block title%}Mirmir: About{%endblock%}
{%block style%}
<style>
    #container_about_us {
        background-color: rgba(202, 197, 132, 0.7);
        padding-bottom: 5px;
        border-radius: 7px;
    }
</style>
{%endblock%}
{%block body%}
<div class="container" id="container_about_us">
    <h1>This is the 'about us' page.</h1>
    <p>This page was not implemented due to time constraints, it would be managed in the same manner as the main page
        elements and shop page elements.</p>
</div>


{%endblock%}