{%extends 'mirmir_app/base.html'%}
{% load crispy_forms_tags %}
{%block title%}Mirmir: Register{%endblock%}
{%block style%}
<style>
    .invalid_password {
        border: 1px solid red !important;
    }
</style>
{%endblock%}
{%block body%}
<div class="container">
    {% if there_is_a_message %}
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
    {% endif %}
    <div id="instructions">
        <h6>Instructions: input username or email address of account requiring password reset.</h6>
    </div>
    <form id="form_input" action="#!" method="post">
        <input type="hidden" id="recaptcha" name="g-recaptcha-response">
        {% csrf_token %}
        <label for="username" class="requiredField">Username </label>
        <div>
            <input class="textinput textInput form-control" type="text" name="username" maxlength="100">
        </div>
        <label for="email" class="requiredField">Email Address</label>
        <div>
            <input class="textinput textInput form-control" type="email" name="email" maxlength="100">
        </div>
        <button type="submit" id="submit_btn" class="btn btn-primary g-recaptcha" data-sitekey="reCAPTCHA_site_key"
            data-callback='onSubmit'>Submit</button>
    </form>
</div>


{%endblock%}
{% block javascript %}
<script src="https://www.google.com/recaptcha/api.js?render={{site_key}}"></script>
<script>
    grecaptcha.ready(function () {
        // 4
        $('#form_input').submit(function (e) {
            let form = this;
            // 5
            e.preventDefault()
            grecaptcha.execute('{{ site_key }}', { action: 'form' }).then(function (token) {
                console.log(token)
                // 6
                $('#recaptcha').val(token)
                // 7
                form.submit()
            });
        })
    });
</script>
{% endblock %}